ignore-scripts[]=youtube-dl-exec
ignore-scripts[]=@ffmpeg-installer/ffmpeg
node-linker=hoisted
enable-pre-post-scripts=true
better-sqlite3_binary_host=https://github.com/WiseLibs/better-sqlite3/releases/download
